@use '.././../../styles/vars';

.Header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;

    .currentQuestionLenght {
        color: vars.$secondaryYellow;
        font-weight: 700;
        left: 20px;
        top: 20px;
    }
}
@media screen and (max-width: 524px) {
    .currentQuestionLenght {
        margin-left: 7%;
    }
}
