@use '../../styles/vars';

.solarSystemGame {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: contain;
    background-image: url("./../../assets/backround_stars_with_sun.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    .test {
        width: 1920px;
        max-width: 100%;
        max-height: 100%;
        aspect-ratio: 16/9;
    }

    .gameContainer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 80%;

        .sortableItem {
            width: 9%;
            height: 50%;
            margin: 0.75rem;
            touch-action: none;
            box-shadow: 5px 5px 5px black;
            border-radius: 5px;
        }

        .itemContainer {
            padding-top: 1rem;

            p {
                text-align: center;
                font-family: vars.$title-familly;
                color: vars.$secondaryYellow
            }
        }
    }

    .resultContainer {
        height: 20%;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: flex-start;
        color: vars.$secondaryYellow;
        font-size: 18px;
        
        button {
            background-color: vars.$secondaryYellow;
            padding: 1rem 2rem;
            font-size: 20px;
            border: none;
            border-radius: 5px;
            width: max-content;
            margin-bottom: 1rem;
        }

        strong {
            font-weight: 700;
        }

        p {
            margin-bottom: 1rem;
        }

        .currentResult {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .winBox {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 1024px) {
    .solarSystemGame {
        .resultContainer {
            font-size: 12px;
            
            button {
                padding: 0.5rem 1rem;
                font-size: 16px;
                margin-bottom: 1rem;
            }
    
            p {
                margin-bottom: 0.5rem;
            }
    
        }
    }
}