// Variables du projet
$primary: #023047;
$secondaryBlue: #219EBC;
$tertiaryBlue: #8ECAE6;
$secondaryYellow: #FFB703;
$tertiaryOrange: #FB8500;

// Définir quelques marges et paddings pour la cohésion de l'ensemble

$header-height: 5rem;
$activity-header: 7.5rem;
$title-familly: 'Space kids', sans-serif;